@media(max-width: 500px) {

    /*formulario inserir*/
    #genero {
        height: 35px;
        font-size: 15px;
    }

    #nascimento {
        height: 26px;
        padding: 1px 2px;
        font-size: 15px;
    }

    #btn-salvar-cliente {
        background: linear-gradient(90deg, #61CDFC, #DBF2FF, #DBF2FF);
        border: none;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        width: 70%;
        padding: 10px 0px;
    }

    #btn-cancelar-cliente {
        background: linear-gradient(90deg, #fc6161, #f7a9a9, #fff6f6);
        border: none;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        width: 70%;
        padding: 10px 0px;
        
    }    

}