@media ( max-width: 500px) {

    .estilo-login{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        padding: 20px;
    }
    
    .img-login{
        max-width: 300px;
        padding-top: 20px;
    }

     
    .user-login {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        position: relative;  
    }

    .password-login {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        position: relative;
    }

    #padlockIcon{
        position: absolute;
        left: 5px;
        top: 30px;
    }

    #eyeIcon{
        position: absolute;
        right: 10px;
        top: 33px;
    }

    .user-login img{
        position: absolute;
        left: 5px;
        top: 30px;
    }

    #frm-login input{
        font-size: 1rem;
        padding: 12px;
        border: none;
        border-radius: 10px;
        background-color: #eeeeee;
        padding-left: 35px;
        padding-right: 10px;
    }
    #frm-login{
      width: 80%;  
      display: grid;
    }

    #frm-login label{
        text-align: left;
        padding-bottom: 3px;
    }
    .estilo-btn-login{
        text-align: center;
    }

    #btn-login{
        
        padding: 10px;
        margin-bottom: 50px;
        border-radius: 20px;
        border: none;
        font-size: 1.1rem;
        background-color: #d3d3d3;
        width: 80%;
        cursor: pointer;
    }

    .btn-recuperar{
       padding: 10px;
       font-size: 1.1rem;
    }
    .btn-recuperar a{
        text-decoration: none;
        color: black;
    }
    

}