@media(max-width: 500px){

    #btn-salvar-moeda {
        background: linear-gradient(90deg, #61CDFC, #DBF2FF, #DBF2FF);
        border: none;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        width: 70%;
        padding: 10px 0px;
    }

    #btn-cancelar-moeda {
        background: linear-gradient(90deg, #fc6161, #f7a9a9, #fff6f6);
        border: none;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        width: 70%;
        padding: 10px 0px;
        
    }
  
   
}