@media (max-width: 500px){

    .panel-header{
        width: 100%;
        background: linear-gradient(90deg, #61CDFC, #DBF2FF, #DBF2FF);
        margin: 0;
        height: 50px;
        position: fixed;
        top: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #btn-menu{
        padding-left: 20px;
        cursor: pointer;
    }
    .img-refresh{
        padding-right: 20px;
        cursor: pointer;
    }

    .panel-main{
        display: flex;
        flex-direction: column;
        padding-top: 70px;
        margin-bottom: 20px;
        display: none;
    }

    .block{
        height: 100px;
        margin: 10px;
        border-radius: 30px;
    }

    .panel-nome{
        text-align: left;
        padding-top: 15px;
        padding-left: 20px;
        color: #ffffff;
        font-size: 17px;
    }

    .panel-valor{
        text-align: left;
        padding-top: 15px;
        padding-left: 20px;
        color: #ffffff;
        font-size: 23px;
    }

    .panel-valor span{
        margin-right: 10px;
    }
    .block.purple {
        display: flex;
        align-items: center;
    }

    .panel-opcao{

        padding-left: 20px;
        color: #ffffff;
        font-size: 23px; 
        cursor: pointer;
    }
    

    .blue{
      background: linear-gradient(to right, #2644AE, #86D5F6);
    }
    .red{
      background: linear-gradient(to right, #BA0505, #F99191);
    }
    .green{
      background: linear-gradient(to right, #06741E, #94FD9E);
    }
    .purple{
      background: linear-gradient(to right, #574BE3, #C2BEF8)
    }

    .panel-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: linear-gradient(90deg, #61CDFC, #DBF2FF, #DBF2FF);
        margin: 0;
        height: 56px;
        position: fixed;
        bottom: 0px;
    }

    .panel-footer img{
        cursor: pointer;
    }

    .img-cadastro{
        padding-left: 10px;
    }

    .img-caixa{
        padding-right: 15px;
    }

}
